# Wine data: A data wrangling example

![](images/wine.png) 

## About the data
The data is a results of a chemical analysis of wines grown in the same region in Italy, but derived from three different cultivars. The analysis determined the quantities of 13 constituents found in each of the three types of wines.

It was made available on the UCI Machine Learning repository for exploratory data analysis and classification. [Source](https://archive.ics.uci.edu/ml/datasets/wine)

## Data wrangling

The goal of this notebook is to explain how to use Pandas to wrangle our data.

What is data wrangling? Data wrangling the process of transforming and mapping data from one "raw" data form into another format, with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

But why Pandas? 
Pandas is a Python library developed specifically for data analysis, that allows you to easily: 
- Select and filter your dataset. 
- Automate the cleaning of your datasets, e.g. missing values. 
- Merge & transform datasets
- Split-apply-combine: the ability to chunk your data set into pieces, apply a function, and place it back together is the number one reason to use Pandas. 
- Handling time series operations. Pandas is amazing at converting to different periods, resampling, etc are a brilliant feature.
- Speed: When working with large datasets, it is much faster than tools like excel.



## Wine dataset analysis 
The goal of this notebook is to explain how to use Pandas to wrangle our data.

What is data wrangling? Data wrangling the process of transforming and mapping data from one "raw" data form into another format, with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

In this notebook, we will analyse a dataset about wine. We will cover: 

1. Loading the data
2. Exploring the dataset
3. High-level statistics properties of the dataset
4. Plotting the data
5. Create new columns

## 1. Loading in the data


Pandas is a sepcialised package that allows us to work with databases using python.

First we need to import the package:

In [1]:
import pandas as pd

/Users/marysia/.pyenv/versions/3.8.3/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

Then, to read in a csv file we can use
```python
pd.read_csv('filepath/file.csv')
```

We are going to read in the `wine_dataset.csv` which is in our `data/` folder:

In [2]:
import pandas as pd

df = pd.read_csv('data/wine_dataset.csv', delimiter=';')

Notice the ';'? By default, Pandas will assume the csv file is exactly that: a comma-separated file. However, in our wine dataset, the entries are separated not by commas, but my semi-colons. Therefore, we add the `delimiter=';'` to make Pandas aware of this. 


As we have loaded in the data, we can display it as well:

In [ ]:
df

## 2. Exploring the dataset

We have loaded in our data. Next up, it's time to highlight some tools for getting an initial understanding of what data our dataset contaings. 

We will explore the dataset using the following tools: 
* Checking the shape (`df.shape`) of the dataframe
* The length (`len(df)`) of the dataframe
* General information (`df.info()`) of the dataframe & columns
* Fetching the first/last or a sample of a few rows (`.head()` `df.sample()` `df.tail()`)
* The column names (`df.columns`)
* Selecting one (or more) columns (`df['column_name']`)
* Fetching the unique values of a column (`df['column_name'].unique()`)
* Summing the amount of unique values of a column (`df['column_name'].value_counts()`)

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(10)

In [ ]:
df.columns

In [ ]:
df['class']

In [ ]:
df['class'].unique()

In [ ]:
df['class'].value_counts()

### Exercise
Now we have a feel for the dataset, what would we do with it? Write down a few ideas in the chat!

## 3. Statistics of the dataset

We now have a rough idea of what our individual data points are like. However, we might like to calculate some high-level statistics over our dataset as well!

In [ ]:
df.describe()

This describes our entire dataset. However, we have many different columns in our dataset. Maybe we're just interested in various statistics of one specific column. 

Remember how to select a single column?

In [ ]:
df['alcohol']

In [ ]:
df['alcohol'].describe()

In [ ]:
df['alcohol'].mean()

Interested in multiple columns? No problem! Notice the double brackets!

In [ ]:
df[['alcohol', 'color_intensity']].describe()

#### Intermezzo: chaining commands

So what's actually happening here? Well, we're chaining together a bunch of different commands.

In [ ]:
df.head(10)

In [ ]:
df.head(10).tail(2)

The more we chain together commands, the longer the line length becomes. A different way of writing down the exact same thing is by spreading it out over different lines (between round brackets).

In [ ]:
(
    df
    .head(10)
    .tail(2)
)

In [ ]:
(
    df
    [['alcohol', 'color_intensity']]
    .mean()
)

We've seen how to calculate statistics over the whole dataset, what if we are interested in how these statistics vary over different parts of the dataset? 

For instance, for this dataset, we know that we have three different _classes_ of wine. We previously calculated the mean value of alcohol over the whole dataset, but how does the mean value differ per class?

This is where a nifty little feature called `groupby` comes in.

In [ ]:
(
    df
    .groupby('class')
    ['alcohol']
    .mean()
)

## 4. Plotting

We previously explored the dataset through calculating statistics. However, a neat way to explore your dataset is to create visualisations as well! 

Although there are quite some visualisation Python packages out there, that allow you a whole lot of freedom when it concerns creating your plots, Pandas has some built-in plotting functionality as well based on `matplotlib`.

We use the [`.plot()`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.plot.html) method on a DataFrame to create plot, e.g.

    *dataframe*.plot(x = ..., y =..., kind =..., ...)
    
The `.plot()` method takes several optional parameters. Most notably the *kind* parameter, which accepts eleven different string values and determines which kind of plot you’ll create:

1. "area" is for area plots.
2. "bar" is for vertical bar charts.
3. "barh" is for horizontal bar charts.
4. "box" is for box plots.
5. "hexbin" is for hexbin plots.
6. "hist" is for histograms.
7. "kde" is for kernel density estimate charts.
8. "density" is an alias for "kde".
9. "line" is for line graphs.
10. "pie" is for pie charts.
11. "scatter" is for scatter plots.

In [ ]:
df.plot(x='color_intensity',  y='alcohol', kind='scatter')

A nice, simple plot! However, we can do some more advanced stuff as well.

In [ ]:
(
    df
    .groupby('class')
    ['alcohol', 'color_intensity', 'ash']
    .mean()
    .plot(kind='bar')
);

In [ ]:
# BONUS: add the standard deviation as well! 
(
    df
    .groupby('class')
    ['color_intensity']
    .agg(['mean', 'std'])
    .plot(y='mean', kind='bar', yerr='std')
)

Another thing you may be interested in is the correlation between features.

In [ ]:
correlations = df[df.columns].corr()
correlations

However, this might be quite difficult to read and interpret.. we can create a heatmap to visualise the intensity of the values!

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize = (15,10))

sns.heatmap(correlations, annot=True, ax=ax);

### Exercise: 
- What two columns have the highest positive correlation? 
- What two columns have the highest negative correlation?
- Did you find anything interesting or unexpected in the dataset?

## 5. Creating new columns

Sometimes, you want to do more than just explore the data you have at hand. You might, for instance, want to create new columns based on the data you have!

_Demean the alcohol values_

In [ ]:
df['alcohol'] - df['alcohol'].mean()

In [ ]:
df['demeaned_alcohol'] = df['alcohol'] - df['alcohol'].mean()
df

_Decide which wines should be labeled at 'dark'_

In [ ]:
 df['color_intensity'] > df['color_intensity'].median()

In [ ]:
df['dark_label'] = df['color_intensity'] > df['color_intensity'].median()
df

_Give the label 'dark' or 'light'_

In [ ]:
['light' if x < df['color_intensity'].median() else 'dark' for x in df['color_intensity']]

In [ ]:
df['label_color'] = ['light' if x < df['color_intensity'].median() else 'dark' for x in df['color_intensity']]
df

_A more chainable way.._

In [3]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [5]:
(
    df
    .assign(demeaned_malic_acid = lambda d: d['malic_acid'] - d['malic_acid'].mean())
    [['malic_acid', 'demeaned_malic_acid']]
)

     malic_acid  demeaned_malic_acid
0          1.71            -0.626348
1          1.78            -0.556348
2          2.36             0.023652
3          1.95            -0.386348
4          2.59             0.253652
..          ...                  ...
173        5.65             3.313652
174        3.91             1.573652
175        4.28             1.943652
176        2.59             0.253652
177        4.10             1.763652

[178 rows x 2 columns]

# What's Next

In this notebook, we've simply covered some of the basics of what you can do with Pandas. We've seen: 
- How to load in your data from a .csv file with `pd.read_csv` and a delimiter. 
- How to explore the dataset to get a rough intuition for the data with various tools like `.shape`, `.columns`, `.info()` and `.head()`
- How to retrieve some high-level statistics with `.describe()`, `.mean()` or `.median()` on the dataset as a whole _and_ on subsets of the data. 
- How to plot our data
- How to add new columns to our data, e.g. the demeaned values. 

But there is more! Our Python for Data Analysts covers a variety of topics on Pandas, such as: 

- Advanced selecting and filtering
- Aggregations
- Creating (advanced) columns
- Combining datasets
- Transformations
- Advanced plotting
- Time series
- Pandas best practices